{% extends 'base.html' %}
{% csrf_token %}
{% load staticfiles %}

{% block content %}

<h3 class="thin">{{ topic }}</h3>
<ul class="collection">
	{% for video in videos %}
	<li class="collection-item avatar">
		<img src="http://img.youtube.com/vi/{{ video.videoID }}/0.jpg" alt="" class="circle">
		<span class="title">{{ video.topic.name }}</span>
		<p>Grade: {{ video.grade }} <br>
		   Topic: {{ video.topic.name }}
		</p>
		<a href="{{ video.id }}" class="secondary-content">View Video<i class="material-icons right">navigation</i></a>
	</li>
	{% endfor %}
</ul>

{% endblock %}
