{% extends "base.html" %}

{% block body_font_color %}
#202020;
{% endblock %}

{% block body_color %}
grey lighten-3
{% endblock %}

{% block content %}
<div class="row">

        <!-- Questions  -->
	{% for question in questions.object_list %}
        <div class="col s12 card blue z-index-2">
            <div class="card-content white-text">
		<h2><a href="{% url 'question' question.pk %}" style="color:#FFF;">{{ question.title }}</a></h2>
                    {{ question.body | safe }}
		<p>
                    Posted: {{ question.created }}<br>
		    Posted by:{{ question.poster.user }}<br>
		</p>
		</a>
             </div>
	</div>
        {% endfor %}
</div>
        <!-- Next/Prev page links  -->
        {% if questions.object_list and questions.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if questions.has_previous %}
                    <a href= "?page={{ questions.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ questions.number }} of {{ questions.paginator.num_pages }}
                </span>

                {% if questions.has_next %}
                    <a href="?page={{ questions.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}
