body {
	font-family: "Roboto", "open sans", arial, sans-serif;
	font-weight: 200;
}

div.nav-wrapper a {
	color: #000;
}

.collection-item {
	font-weight: 400;
	color: #202020;
}

.thin {
	font-weight: 200;
}

.thick {
	font-weight: 400;
}

p {
	font-weight: 300;
}

label {
	color: #202020;
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #2196F3;
	box-shadow: 0 1px 0 0 #2196F3;
}

input[type=password]:focus:not([readonly]) {
	border-bottom: 1px solid #2196F3;
	box-shadow: 0 1px 0 0 #2196F3;
}
