{% extends "base.html" %}

{% block content %}
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h3>MyBlog</h3>
                {% if user.is_staff %}
                <a href="">Admin</a>
                <a href="{% url 'newPost' %}">Add post</a>
                {% endif %}

            {% endblock %}
        </div>

        <div id="content">
            {% block content_blog %}{% endblock %}
        </div>
    </div>
{% endblock %}
</html>
