{% extends "blog/bbase.html" %}
{% block css %}
	#blog-item {
		margin: 10px;
	}
	#blog-title {
		font-size: 20px;
		font: 'Gotham Book', Gotham-Book, Arial, sans-serif;
		text-transform: uppercase;
		color: #3A3A3A;
	}
	#blog-body {
		font-size: 18px;
		font: Futura Bk BT, Arial, sans-serif;
		color: #616161;
	}
	#blog-time {
		font-size: 13px;
		color: #848484;
		font: Futura Lt BT, Arial, sans-serif;
	}
	#blog-author {
		font-size: 14px;
		color: #848484;
		font: Futura Lt BT, Arial, sans-serif;
	}
{% endblock %}
{% block content_blog %}
    <div class="main">

        <!-- Posts  -->
        <ul>
            {% for post in posts.object_list %}
		<paper-material elevation="1">
		<a href="{% url "post" post.pk %}">
		<div id="blog-item"> 
                <div id="blog-title">{{ post.title }}</div>
                <ul>
                    <div id="blog-body">{{ post.body }}</div>
                    <div id="blog-time">Posted at {{ post.created }}</div>
		    <div id="blog-author">by {{ post.author }}</div>
                </ul>
		</div>
		</a>
		</paper-material>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links  -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}
