{% extends "blog/bbase.html" %}
{% block css %}
	body {
   		 padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	}

	footer {
    		margin: 50px 0;
	}
{% endblock %}
{% block content_blog %}
               <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

             <!-- First Blog Post -->

            {% for post in posts.object_list %}
                <h2>
                    <a href="{% url "post" post.pk %}">{{ post.title }}</a>
                </h2>
                <p class="lead">
                    by <a href="#">{{ post.author }}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span>{{ post.created }}</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>{{ post.body }}</p>
                <a class="btn btn-primary" href="{% url "post" post.pk %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
	{% endfor %}
                <!-- Pager -->
	{% if posts.object_list and posts.paginator.num_pages > 1 %}
                <ul class="pager">
		{% if posts.has_previous %}
                    <li class="previous">
                        <a href="?page={{ posts.previous_page_number }}">&larr; Newer</a>
                    </li>
		{% endif %}
	
                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>


		{% if posts.has_next%}
                    <li class="next">
                        <a href="?page={{ posts.next_page_number }}">Older &rarr;</a>
                    </li>
		{% endif %}
                </ul>
	{% endif %}
            </div>
	</div>
{% endblock %}
