{% extends "base.html" %}

{% block body_font_color %}
#202020;
{% endblock %}

{% block body_color %}
grey lighten-3
{% endblock %}

{% block content %}
<div class="row">
	<a  href="/videos/{{ vidTopic }}/{{ vidNumber }}/">
	<button class="col s12 waves-effect waves-light btn white thick blue-text" style="margin-top:20px">Back</button>
	</a>
</div>

<div class="row">
	{% if questionCount > 0 %}
		{% for question, answers in questionDict.items %}
			<div class="col s12 card">
				<span class="card-title">{{ question.question_text }}</span>	
				<form method="POST" class="quizQuestion" action="">
				{% csrf_token %}
				{% for answer in answers.0 %}
					<p>
						<input type="checkbox" name="answer{{ answer.id }}" id="answer{{ answer.id }}" />
						<label for="answer{{ answer.id }}">{{ answer.answer_text }}</label>
					</p>	
				{% endfor %}
					<input type="hidden" value="{{ question.id }}" name="questionNumber" />
					<div class="card-action">
						{% if answers.1 %}
							<div class="btn btn-medium disabled thick">Submit</div>
							<span style="padding: 5px;" class="white-text
							{% if answers.2 %}
								green">Correct
							{% else %}	
								red">Incorrect
							{% endif %}
							</span>
						{% else %}
							<button class="btn btn-medium blue waves-effect thick" type="submit">Submit</button>
						{% endif %}
					</div>
				</form>
			</div>
		{% endfor %}
	{% else %}
		<h5>There aren't any quiz questions for this topic yet</h5>
	{% endif %}
</div>

{% endblock %}
